@use "../layout/grid.scss" as *;
@use "../utilities/general" as *;
@use "../abstracts/colors.scss" as *;

#solutions {
    background: $black-2;
    @include flow-spacing;
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.solutions-grid {
    @include grid-container_grid-area;
    padding: 2rem 0;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .solutions-title {
        padding-bottom: 3rem;
    }

    .solutions-content {
        display: grid;
        gap: 4rem;

        .solution {
            border-top: 2px solid $white-1;
            padding: 3rem 0;
            display: grid;
            gap: 2rem;
            @include grid-template-columns_auto(350px, 2, 2rem);

            h3 {
                grid-row: 1/2;
                // grid-column: 1/2;
            }

            p {
                max-width: 750px;
                grid-row: 1/2;
                // grid-column: 2/3;
            }

            .solution-list {
                display: flex;
                flex-wrap: wrap;
                // background: red;
                // grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
                height: fit-content;
                width: fit-content;
                gap: 2rem;

                p {
                    grid-column: auto;
                    grid-row: auto;
                    width: fit-content;
                    height: fit-content;
                    padding: 1rem 1.5rem;
                    background: $black-3;
                    border-radius: 2rem;
                }
            }

            .solution-techstack {
                ul {
                    display: grid;
                    @include grid-template-columns_auto(25px, 3, 2rem);
                    gap: 2rem;
                    // justify-content: start;
                    // align-items: flex-start;

                    li {
                        display: flex;
                        // justify-content: center;

                        img {
                            width: 75px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 914px) {
    .solutions-grid .solutions-content .solution p {
        grid-row: 2/3;
    }
    .solutions-grid .solutions-content .solution .solution-list {
        grid-row: 3/4;
    }
    .solutions-grid .solutions-content .solution .solution-techstack ul li {
        justify-content: center;
    }
}